<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Posts</title>
  </head>
  <body>
    <h1>Create New Post</h1>
    <form action="/posts" method="POST">
      <input type="text" placeholder="Title" name="title" />
      <textarea type="text" placeholder="Content" name="content"></textarea>
      <button type="submit">Create</button>
    </form>
    <h1>All Posts</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Content</th>
        </tr>
      </thead>
      <tbody>
        <% posts.forEach(post => { %>
        <tr>
          <td><%= post.id %></td>
          <td><%= post.title %></td>
          <td><%= post.content %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <h1>Add Comments</h1>
    <form action="/comments" method="POST">
      <input type="text" placeholder="Post ID" name="postId" />
      <textarea type="number" placeholder="Content" name="content"></textarea>
      <button type="submit">Create</button>
    </form>
  </body>
</html>
